<%= form_with model: @location do |form| %>
    <%= form.label :city, "*City" %>
    <%= form.text_field :city %><br>
    <%= form.label :region, "Region/State" %>
    <%= form.text_field :region %><br>
    <%= form.label :country, "*Country" %>
    <%= form.text_field :country %>
    <p>*required</p>
    <%= form.submit %>
<% end %>