<h2><%= @location.city %>, <%= @location.region %>, <%= @location.country %></h2>
<h3><%= render @location.forecasts %></h3>
<%= button_to "Delete Location", location_path(@location.id), method: :delete, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, class: "danger" %>
<%= link_to "Back to Locations", locations_path %>